<html>
    <head>
        <script src="/js/axios.js"></script>

    </head>
    <body>
        <button id="id_logout" type="button">Logout</button>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script>
            $('#id_logout').click(function(){
                window.location.href = "/logout";
            });
        </script>
    </body>
</html>