<div class="container" style="margin: auto 50% auto 10%;">
    <div class="panel">

        <p class="panel-heading">
            Add New Author
        </p>

        <div class="panel-block">
            <div class="columns">
                <div class="column">

                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input id="id_authoradd_authorname" class="input" type="text" placeholder="Author Name">
                        </div>
                    </div>

                    <button id="id_authoradd_create" class="button is-info">Create</button>

                </div>
            </div>
        </div>

    </div>
</div>