@model lmgtweb.Book.Models.SearchBookFormViewModel

<div class="container" style="margin: auto 50% auto 10%;">
    <div class="panel">
        <p class="panel-heading">
            Search Book
        </p>
        <div class="panel-block">
            <div class="columns">
                <div class="column">

                    <div class="field">
                        <div class="control">
                            <div class="select">
                                <select id="id_booksearch_author">
                                <option value="0">Select Author</option>
                                @{
                                    foreach(var cY in Model.Authors){
                                        <option value="@(cY.ID)">@(cY.Name)</option>
                                    }
                                }                
                                </select>
                            </div>
                        </div>
                    </div>

                    <button id="id_booksearch_search" class="button is-info">Search</button>

                    <div class="container" id="id_booksearch_result">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>