<html>
    <head>
        <script src="/js/axios.js"></script>

    </head>
    <body>
        <label >UserName</label>
        <input type="text" id="id_username"/>
        <label>Password</label>
        <input type="password" id="id_password" />
        <button type="button" id="id_btn_login">Login</button>
        <script src="/js/login.js"></script>
    </body>
</html>